@import '../../../styles/breakpoints';
@import '../../../styles/mixins';
@import '../../../styles/variables';


.overons_container{

   
    
    width: 100%;
    @include flexbox ($alignItems:center,$direction:column);

    .img_text_container{
        width: 100%;
        @include flexbox($justifyContent:center,$direction:row);

        .desc_over_ons{
            width: 50%;
            
            h2{
                font-size:2rem;
            }
        }

        .overons_figure{
            width: 40%;
            margin: 7%;

            img{
                @include imgCover;
            }
        }

    }

}