@import "../../styles/_mixins";
@import "../../styles/_variables";
@import "../../styles/_breakpoints";

.trendingCard {
    @include flexbox($direction:column,$alignItems:center);
  margin-top: 7.5%;
   height: 65%;
  width: 90%;

  .desc {
    width: 100%;
    margin-top: 1rem;

    .author{
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;

    }
    .desc{
        font-size: 1.2rem;
        margin-bottom: 5%;
        
    }

    .prBtn{
      width: 50%;
      height: 40%;
      background-color: $mediGreen;
      color:white;
      padding:2%;
     
    }
  }

  .figure {
    height: 90%;
    width: 100%;

    img {
      @include imgCover;
    }
  }
}
