@import '../../styles/variables';
@import '../../styles/mixins';

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    list-style: none;
    min-height: 70px;
    background-color: $mediGreen;
    width: 100%;
    
   @include flexbox($justifyContent:center,$alignItems:center);
  .footerList{
    @include flexbox($justifyContent:center,$alignItems:center);
     
    li{
        font-size: 2.75rem;
        margin-left:30px;
        color:white

    }
    .icon{
       color:white
    }
    }
}